<div class="flash" ng-if="message != ''" ng-style="{'background-color': flash}">
    {{message}}
</div>
<div class="post post-model">
        <h1 class="post-model-title">Build your document
            <span class="post-add-input-button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i ng-click="selectInputType(true)" ng-if="!toggleSelectInput" class="fa fa-bars"></i><i ng-click="selectInputType(false)" ng-if="toggleSelectInput" class="fa fa-times close"></i>&nbsp;
                <ul class="input-select" ng-if="toggleSelectInput">
                { <label class="add-input-label">Add</label> }
                    <li ng-click="addInput('title')">Title</li>
                    <li ng-click="addInput('subtitle')">Subtitle</li>
                    <li ng-click="addInput('paragraph')">Paragraph</li>
                    <li ng-click="addInput('code')">Code</li>
                    <li ng-click="addInput('link')">Link</li>
                    <li ng-click="addInput('image')">Image</li>
                <hr>
                { <label class="add-input-label">Options</label> }
                    <li ng-click="saveDocument()">Save</li>
                    <li ng-click="clearDocument()">Clear All</li>
                    <li ng-click="deleteDocument()">Delete</li>
                </ul>
            </span>
        </h1>
    <div class="post-model-wrapper">
        <div class="post-model-prerepeat">
        <br><br><br>
            <b>Document Name:</b><br>
            <input type="text" ng-model="name.documentTitle"></input><br>
            <b>Master Font:</b><br>
            <input type="text" ng-model="masterFont.set"></input><a target="_blank" class="post-model-prebutton fa fa-2x fa-question" href="https://www.google.com/fonts"></a>
            <hr>
        </div>
        <constructable-model></constructable-model>
    </div>
</div>

<div class="post-preview-wrapper">
    <h1 class="preview-title" ng-class="{'preview-title-margin': name.documentTitle.length >= 1}">
        Preview
    </h1>
    <p class="doc-name">{{name.documentTitle}}</p>
    <constructable-view ng-style="{'font-family': masterFont.set}"></constructable-view>
</div>
