<div class="flash" ng-if="message != ''" ng-style="{'background-color': flash}">
    {{message}}
</div>
<div class="post post-model">
    <div class="post-model-wrapper">
        <h1 class="post-model-title">Build your document
            <span class="post-add-input-button"><i ng-click="selectInputType(true)" ng-if="!toggleSelectInput" class="fa fa-plus-circle"></i><i ng-click="selectInputType(false)" ng-if="toggleSelectInput" class="fa fa-minus-circle"></i>&nbsp;
                <ul class="input-select" ng-if="toggleSelectInput">
                { <label class="add-input-label">Add</label> }
                    <li ng-click="addInput('title')">Title</li>
                    <li ng-click="addInput('subtitle')">Subtitle</li>
                    <li ng-click="addInput('paragraph')">Paragraph</li>
                    <li ng-click="addInput('code')">Code</li>
                    <li ng-click="addInput('link')">Link</li>
                    <li ng-click="addInput('image')">Image</li>
                <hr>
                { <label class="add-input-label">Options</label> }
                    <li ng-click="saveDocument()">Save</li>
                    <li ng-click="clearDocument()">Clear All</li>
                    <li ng-click="deleteDocument()">Delete</li>
                </ul>
            </span>
        </h1>
        <br><br><br>
        <b>Document Name:</b><br>
        <input type="text" ng-model="name.documentTitle"></input>
        <div class="post-model-repeat" ng-repeat="each in document track by each.id">
            <hr ng-if="!$first">
            <b>{{document[$index].type}}:<span ng-click="deleteItem($index)" class="post-delete-input-button fa fa-2x fa-minus-square"></span></b><br>
            <span bind-to="document[$index].markup.wrap"></span>
        </div>
    </div>
</div>

<div class="post-preview-wrapper">
    <h1 class="preview-title" ng-class="{'preview-title-margin': name.length >= 1}">
        Preview
    </h1>
    <p class="doc-name">{{name.documentTitle}}</p>
    <div id="preview" class="post-preview">
        <div ng-repeat="each in document track by each.id">
            <span bind-to="document[$index].markup.display"></span>
        </div>
    </div>
</div>
