<div class="post-model-repeat" ng-repeat="each in document track by each.id">
    <div class="post-model-repeat-input">
        <b class="repeat-options">{{document[$index].type}}:
            <a ng-click="deleteItem($index)" class="post-model-button fa fa-2x fa-times"></a>
            <a ng-click="showSettings=!showSettings" class="post-model-button fa-cog fa fa-2x"></a>
            <a ng-click="clearItem($index)" class="post-model-button fa fa-2x fa-eraser"></a>
            <a ng-click="cloneItem(document[$index].type)" class="post-model-button fa fa-2x fa-copy"></a>
        </b>
        <br>
        <span bind-to="document[$index].markup.wrap"></span>
    </div>
    <div ng-if="showSettings" class="post-model-repeat-settings">
    <h3 class="center settings-title">Settings</h3>
        <br>
        <b>Alignment:</b>&nbsp;
        <button ng-class="{'alignment': document[$index].alignment === 'left'}" ng-click="document[$index].alignment ='left'">
            Left
        </button>
        <button ng-class="{'alignment': document[$index].alignment === 'center'}" ng-click="document[$index].alignment ='center'">
            Center
        </button>
        <button ng-class="{'alignment': document[$index].alignment === 'right'}" ng-click="document[$index].alignment ='right'">
            Right
        </button>
        <br>
        <label><b>Color:</b>
        <input ng-style="{'color': document[$index].color}" ng-model="document[$index].color"></input><br>
        </label>
        <label><b>Font Size:</b>
        <select ng-model="document[$index].fontSize">
            <option value="12pt">12</option>
            <option value="14px">14</option>
            <option value="16pt">16</option>
            <option value="18pt">18</option>
            <option value="20pt">20</option>
            <option value="24pt">24</option>
            <option value="28pt">28</option>
            <option value="32pt">32</option>
            <option value="36pt">36</option>
            <option value="42pt">42</option>
            <option value="56pt">56</option>
            <option value="72pt">72</option>
        </select>
        <br>
        </label>
        <label><b>Font:</b>
        <input ng-model="document[$index].fontFamily"></input>
        </label>
    </div>
    <hr>
</div>